body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"],
.form-signin input[type="password"] {
    margin-bottom: -1px;
    border-radius: 10;
}

.logo {
    width: 92px;
    height: 92px;
    background-color: #6f42c1;
    border-radius: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 72px;
    color: white;
    margin: 0 auto 20px auto;
}